.efeito{
    width: 100px;
    height: 100px;
    background-color: green;
    animation-name: um_efeito;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: alternate;

    /* utilização em uma linha só */
    /* animation: um_efeito 5s linear 2s infinite alternate; */
}

@keyframes um_efeito {
    0%{width: 100px;}
    25%{width: 300px;}    
    50%{width: 200px;
        background-color: red;}
    75%{width: 300px;}
    100%{width: 100px;
        background-color: green;}
}